.paragraphBold{
    font-weight: bold;
    color: white;
    font-size:95%;
}
.blockquoteParagraph{
    font-size: 25px;
    color: white;
}
.blogImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-bottom: 50px;
    padding-top: 30px;
}

p{
    color: var(--paragraph-color);
    margin: auto;
}
.blogImage img{
    width: 100%;
}
ol li{
    color: white;
    color: var(--paragraph-color);
}
#author{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    align-items: center;
}