/* RESET */
.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 120vh;
}

body {
    background: var(--dark-color);
    font-family: var(--base-font-family);
}

/* DEFAULT STYLE */
:root {
    --primary-color:        #f7931d;
    --secondary-color:      #f1c111;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --slat-color:           #080808;
    --project-bg:           #000000;
    --menu-bg:              #1e1f1f;

    --title-color:          #15141a;
    --gray-color:           #909090;
    --link-color:           #e69226;
    --p-color:              #666262;

    --base-font-family:     'Plain-Light', sans-serif;
    --title-font-family:    'Plain-Regular', sans-serif;
    --font-bold-family:     'Plain-Bold', sans-serif;
    --font-weight-bold:     bold;

    --h1-font-size:         42px;
    --h2-font-size:         32px;
    --h3-font-size:         24px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100px;
    --border-radius-small:  5px;

    --dark-green:           #9cc675;
    --dark-yellow:          #e89a3d;
    --extra-light-brown:    #fdf0d7;
    --light-brown:          #ecd5ab;
    --dark-brown:           #915b40;
    --light-yellow:         #f8e3a8;
    --light-red:            #f3ac99;
    --light-teal:           #a6c8cc;
    --light-gray:           #ddd5d6;
    --theme-color2:         #e89a3d;
    font-size: 16px;
    --card-img-height: 200px;
}


.card-container {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}
@media only screen and (max-width: 361px) {
    .card-container {
        height: 650vh;
    }
}

@media only screen and (max-width: 410px)and (min-width: 361px) {
    .card-container {
        height: 550vh;
    }
}

@media only screen and (max-width: 649px)and (min-width: 409px) {
    .card-container {
        height: 500vh;
    }
}
@media only screen and (max-width: 970px)and (min-width: 650px) {
    .card-container {
        height: 215vh;
    }
}
@media only screen and (max-width: 980px)and (min-width: 970px) {
    .card-container {
        height: 205vh;
    }
}
@media only screen and (max-width: 1200px)and (min-width: 980px) {
    .card-container {
        height: 160vh;
    }
}
.card {
    align-self: flex-start;
    position: relative;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    min-width: 200px;
    margin: 1.25rem 0.75rem;
    background: black;
    transition: all 300ms ease-in-out;
}
.card .card-img {
    visibility: hidden;
    width: 250px;
    height: var(--card-img-height);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
}
.card .card-img-hovered {
    --card-img-hovered-overlay: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
    );
    transition: all 350ms ease-in-out;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: absolute;
    height: var(--card-img-height);
    top: 0;
}
.card .card-info {
    position: relative;
    padding: 0.75rem 1.25rem;
    transition: all 200ms ease-in-out;
}
.card .card-info .card-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    transition: all 200ms ease-in-out;
}
.card .card-info .card-about .card-tag {
    width: 500px;
    max-width: 500px;
    padding: 0.2rem 0.5rem;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--primary-color);
}
.card .card-info .card-about .card-tag.tag-news {
    background: #36b37e;
}
.card .card-info .card-about .card-tag.tag-deals {
    background: #ffab00;
}
.card .card-info .card-about .card-tag.tag-politics {
    width: 71px;
    background: #ff5630;
}
.card .card-info .card-title {
    z-index: 10;
    font-size: 1rem;
    padding-bottom: 0.75rem;
    color: white;
    transition: all 350ms ease-in-out;
}
.card .card-info .card-creator {
    padding-bottom: 0.75rem;
    transition: all 250ms ease-in-out;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
    transform: scale(1.025);
}
.card:hover .card-img-hovered {
    --card-img-hovered-overlay: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.65)
    );
    height: 100%;
}
.card:hover .card-about,
.card:hover .card-creator {
    opacity: 0;
}
.card:hover .card-info {
    background-color: transparent;
}
.card:hover .card-title {
    color: var(--primary-color);
    transform: translate(0, 40px);
}

.card-1 .card-img,
.card-1 .card-img-hovered {
    border-width: 1px;
    border-radius: 10px;
    background: var(--card-img-hovered-overlay);
    background-image: url("../images/project/social-media-management/Social-Media-Marketing.png");
    background-position:center;
    background-attachment:scroll;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
}

.card-2 .card-img,
.card-2 .card-img-hovered {
    /*background-image: var(--card-img-hovered-overlay), url("../images/project/digital-marketing/Digital-Advertising.png");*/
    border-width: 1px;
    border-radius: 10px;
    background: var(--card-img-hovered-overlay);
    background-image: url("../images/project/digital-marketing/Digital-Advertising.png");
    background-position:center;
    background-attachment:scroll;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
}

.card-3 .card-img,
.card-3 .card-img-hovered {
    /*background-image: var(--card-img-hovered-overlay), url("../images/project/video-production/Video-Production.png");*/
    border-width: 1px;
    border-radius: 10px;
    background: var(--card-img-hovered-overlay);
    background-image: url("../images/project/video-production/Video-Production.png");
    background-position:center;
    background-attachment:scroll;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
}

.card-4 .card-img,
.card-4 .card-img-hovered {
    /*background-image: var(--card-img-hovered-overlay), url("../images/project/influencer-marketing/Influencer-Marketing.png");*/

    border-width: 1px;
    border-radius: 10px;
    background: var(--card-img-hovered-overlay);
    background-image: url("../images/project/influencer-marketing/Influencer-Marketing.png");
    background-position:center;
    background-attachment:scroll;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
}

.card-5 .card-img,
.card-5 .card-img-hovered {
    /*background-image: var(--card-img-hovered-overlay), url("../images/project/seo/Search-Engine-Optimization-SEO.png");*/
    border-width: 1px;
    border-radius: 10px;
    background: var(--card-img-hovered-overlay);
    background-image: url("../images/project/seo/Search-Engine-Optimization-SEO.png");
    background-position:center;
    background-attachment:scroll;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
}

.card-6 .card-img,
.card-6 .card-img-hovered {
    /*background-image: var(--card-img-hovered-overlay), url("../images/project/content-marketing/Content-Marketing.png");*/
    border-width: 1px;
    border-radius: 10px;
    background: var(--card-img-hovered-overlay);
    background-image: url("../images/project/content-marketing/Content-Marketing.png");
    background-position:center;
    background-attachment:scroll;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
}

.card-7 .card-img,
.card-7 .card-img-hovered {
    /*background-image: var(--card-img-hovered-overlay), url("../images/project/web-development/Web-DEvelopment1.png");*/
    border-width: 1px;
    border-radius: 10px;
    background: var(--card-img-hovered-overlay);
    background-image: url("../images/project/web-development/Web-DEvelopment1.png");
    background-position:center;
    background-attachment:scroll;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
}

.card-8 .card-img,
.card-8 .card-img-hovered {
    /*background-image: var(--card-img-hovered-overlay), url("../images/project/graphics-design/graphics-design.png");*/
    border-width: 1px;
    border-radius: 10px;
    background: var(--card-img-hovered-overlay);
    background-image: url("../images/project/graphics-design/graphics-design.png");
    background-position:center;
    background-attachment:scroll;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
}

.footer{
    display: flex;
    min-height: 50vh;
    flex-direction: column;
}


  /*---------------------------------------
           main service page image
  ---------------------------------------*/
.img-div{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img-div .service-image{
    flex-shrink: 0;
    max-width: 100%;
    min-height: 100%;
    border-radius: 20px;
}
.img-div img:hover{ position: relative;
    top: -5px;}


/*---------------------------------------
           main service group
  ---------------------------------------*/
#group{
    text-align: justify;
    margin-left: 8%;
}

#group div{
    display: inline-block;
    left: 50%;
    margin-top: 2%;
    margin-right: 1%;
}

#group:after{
    content: '';
    display: inline-block;
    width: 100%;
}
.group_item h3{
}
